{{classVarName}}Decoder : Decoder {{classname}}
{{classVarName}}Decoder =
    {{#parent}}Decode.list {{vendorExtensions.x-decoder}}{{/parent}}{{^parent}}Decode.succeed {{classname}}
{{#allVars}}{{^discriminatorValue}}        |> {{>fieldDecoder}}
{{/discriminatorValue}}{{/allVars}}{{/parent}}

decode{{classname}}Error : String -> {{ classname }}Error
decode{{classname}}Error jsonString =
    case jsonString |> Decode.decodeString {{classVarName}}ErrorDecoder of
        Ok errors ->
            errors

        _ ->
            { {{#allVars}}{{^-first}}            , {{/-first}}{{name}} = Nothing
{{/allVars}}
            , detail = Just "Unknown response"
            }
