{{classVarName}}ErrorDecoder : Decoder {{classname}}Error
{{classVarName}}ErrorDecoder =
    {{#parent}}Decode.list {{vendorExtensions.x-decoder}}{{/parent}}{{^parent}}Decode.succeed {{classname}}Error
{{#allVars}}{{^discriminatorValue}}        |> {{>fieldErrorDecoder}}
{{/discriminatorValue}}{{/allVars}}{{/parent}}        |> optional "detail" (Decode.nullable Decode.string) Nothing


emptyError : {{classname}}Error
emptyError =
    { {{#vars}}{{^-first}}    , {{/-first}}{{name}} = Nothing
{{/vars}}
    , detail = Nothing
    }
