{{classVarName}}Encoder : {{classname}} -> Encode.Value
{{classVarName}}Encoder model ={{^hasRequired}}
    let
        valueNotNone : ( String, Encode.Value ) -> Bool
        valueNotNone ( _, value ) =
            case Decode.decodeValue (Decode.nullable Decode.value) value of
                Ok maybeA ->
                    case maybeA of
                        Just _ ->
                            True
                        Nothing ->
                            False

                Err _ ->
                    True
    in{{/hasRequired}}
    {{#parent}}Encode.list (List.map {{vendorExtensions.x-encoder}} model){{/parent}}{{^parent}}Encode.object <|{{^hasRequired}}
        List.filter valueNotNone <|{{/hasRequired}}
{{#allVars}}
        {{#-first}}[{{/-first}}{{^-first}},{{/-first}} {{>fieldEncoder}}
{{/allVars}}
        ]{{/parent}}
