{{>licenseInfo}}

module Api.Request.{{classname}} exposing ({{#operations}}{{#operation}}{{^-first}}, {{/-first}}{{operationId}}{{/operation}}{{/operations}})
import Api.Error exposing (ApiError, ErrorResponse, expectJson)

{{>imports}}import Http
import Json.Decode as Decode


basePath : String
basePath =
    "{{basePath}}"


{{#operations}}
  {{#operation}}
{-
   {{notes}}
-}
{{operationId}} : (Result (ApiError {{#responses}}{{#-first}}{{^dataType}}ErrorResponse{{/dataType}}{{#isListContainer}}ErrorResponse{{/isListContainer}}{{^isListContainer}}{{dataType}}Error{{/isListContainer}}{{/-first}}{{/responses}}) {{#responses}}{{#-first}}{{^dataType}}(){{/dataType}}{{#isListContainer}}(List {{/isListContainer}}{{dataType}}{{#isListContainer}}){{/isListContainer}}{{/-first}}{{/responses}} -> msg) -> {{#pathParams}}{{dataType}} -> {{/pathParams}}{{#bodyParam}}{{dataType}} -> {{/bodyParam}}Cmd msg
{{operationId}} msg {{#pathParams}}{{paramName}} {{/pathParams}}{{#bodyParam}}model {{/bodyParam}}=
    { method = "{{httpMethod}}"
    , url = basePath ++ {{{path}}}
    , headers = []
    , body = {{#bodyParam}}Http.jsonBody <| {{vendorExtensions.x-encoder}} model{{/bodyParam}}{{^bodyParam}}Http.emptyBody{{/bodyParam}}
    , expect = {{#responses}}{{#-first}}{{^dataType}}Http.expectStringResponse (\_ -> Ok ()){{/dataType}}{{#dataType}}expectJson msg {{#vendorExtensions}}{{x-error-decoder}}{{/vendorExtensions}} {{#isListContainer}}(Decode.list {{/isListContainer}}{{#vendorExtensions}}{{x-decoder}}{{/vendorExtensions}}{{#isListContainer}}){{/isListContainer}}{{/dataType}}{{/-first}}{{/responses}}
    , timeout = Just 30000
    , tracker = Nothing
    }
        |> Http.request


  {{/operation}}
{{/operations}}
