type alias {{classname}} ={{#parent}} {{parent}}{{/parent}}{{^parent}}
    { {{#vars}}{{^-first}}    , {{/-first}}{{name}} : {{^required}}Maybe {{/required}}{{#isContainer}}(List {{/isContainer}}{{#isEnum}}{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{datatype}}{{/isEnum}}{{#isContainer}}){{/isContainer}}
{{/vars}}    }

{{#vars}}
{{#isEnum}}

{{>union}}
{{/isEnum}}
{{/vars}}
{{/parent}}

type alias {{classname}}Error ={{#parent}} {{parent}}{{/parent}}{{^parent}}
    { {{#vars}}{{^-first}}    , {{/-first}}{{name}} : Maybe (List {{#isEnum}}{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{datatype}}{{/isEnum}})
{{/vars}}
    , detail : Maybe String
    }

{{/parent}}

{{>aliasDecoder}}
{{>aliasErrorDecoder}}

{{>aliasEncoder}}
{{#vars}}
{{#isEnum}}


{{>unionDecoder}}


{{>unionEncoder}}
{{/isEnum}}
{{/vars}}
